@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.548);
  border-radius: 200px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#home {
  width: 100%;
  position: relative;
  height: 65vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home img {
  position: absolute;
  width: 100%;
}

#home::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  top: 0;
  left: 0;
}

nav {
  position: absolute;
  z-index: 4;
  width: 100%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 {
  font-family: 'Sriracha', cursive;
  letter-spacing: 2px;
  font-size: 1.75rem;
  color: white;
  text-transform: uppercase;
}

.hamburger {
  width: 30px;
  height: 30px;
  padding: 15px;
  padding-right: 30px;
  cursor: pointer;
}

.hamburger .bar1 {
  width: 25px;
  height: 3px;
  background-color: white;
  position: relative;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-transition: .5s;
  transition: .5s;
}

.hamburger .bar2 {
  width: 20px;
  height: 3px;
  background-color: white;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.hamburger .bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  position: relative;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  -webkit-transition: .5s;
  transition: .5s;
}

.bubble {
  width: 107%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  position: absolute;
  top: -44px;
  right: -44px;
  z-index: 3;
  -webkit-transition: 1.5s ease-out;
  transition: 1.5s ease-out;
  -webkit-filter: blur(0);
          filter: blur(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-clip-path: circle(0% at 100% 0%);
          clip-path: circle(0% at 100% 0%);
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bubble ul {
  z-index: 5;
  opacity: 1;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.bubble ul li {
  list-style-type: none;
}

.bubble ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Nunito',cursive;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 1s;
  transition: 1s;
  padding-left: 10px;
}

.bubble ul li a:hover {
  color: #a7a7a7;
  border-left: 1px solid white;
}

.discover {
  position: absolute;
  font-size: 13vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  top: 20%;
  left: 0;
  text-shadow: 0 0 10px #c7c7c7;
}

#places {
  width: 100%;
  padding: 20px;
}

#places h2 {
  font-family: 'Nunito',cursive;
  width: 100%;
  text-align: center;
  padding: 10px 10px;
  font-size: 2rem;
  color: #818181;
}

.places-div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.places_div {
  width: 300px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.096);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.096);
  overflow: hidden;
  margin: 20px 10px;
  -webkit-transition: .25s;
  transition: .25s;
}

.places_div:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.568);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.568);
}

.places_div img {
  width: 100%;
  height: auto;
  min-height: 250px;
  max-height: 250px;
}

.places_div .place-info {
  width: 100%;
  height: 110px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.places_div button {
  background-color: #3498db;
  border: none;
  width: 100px;
  color: white;
  padding: 7px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.places_div button:hover {
  background-color: #2377af;
}

.place-name {
  font-family: 'Ubuntu',cursive;
  font-size: 1.25rem;
  padding: 5px 0px;
}

.place-price {
  background-color: #f1c40f;
  color: white;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: -45%;
  left: -21%;
  -webkit-transform: rotate(10deg);
  transform: rotate(21deg);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);
}

.place-price span {
  -webkit-transform: rotate(-21deg);
          transform: rotate(-21deg);
  position: absolute;
  left: 59px;
  top: 8px;
  font-family: 'Ubuntu',cursive;
}

#Discount {
  width: 100%;
  margin: 40px 0px;
  position: relative;
}

#Discount img {
  width: 100%;
}

#Discount:after {
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.315);
  width: 100%;
  height: 100%;
  position: absolute;
}

.discount-info {
  position: absolute;
  top: 20%;
  left: 58px;
  font-family: 'Nunito' ,cursive;
  font-weight: 600;
  color: white;
  z-index: 2;
}

.discount-info h2 {
  font-size: 3rem;
}

.discount-info p {
  font-size: 1.5rem;
}

.discount-info p:nth-child(4) {
  font-size: 1rem;
  width: 400px;
}

.discount-info button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin: 20px 0px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.discount-info button:hover {
  color: black;
  background-color: white;
}

#join {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.travel-image {
  width: 400px;
  height: 70vh;
  padding: 50px 0;
}

.join-form {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Ubuntu',cursive;
  color: #6c63ff;
  font-size: 2rem;
  padding: 7rem 0;
  border: 2px solid #6c63ff;
  border-radius: 20px;
  margin: 4rem 1rem;
}

.join-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join-form form input {
  width: 300px;
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px 0;
}

.join-form form input[type=text],
.join-form form input[type=password] {
  border: 2px solid #6c63ff;
  border-radius: 300px;
}

.join-form form input[type=text]::-webkit-input-placeholder,
.join-form form input[type=password]::-webkit-input-placeholder {
  font-size: 1rem;
  color: rgba(107, 99, 255, 0.589);
}

.join-form form input[type=text]:-ms-input-placeholder,
.join-form form input[type=password]:-ms-input-placeholder {
  font-size: 1rem;
  color: rgba(107, 99, 255, 0.589);
}

.join-form form input[type=text]::-ms-input-placeholder,
.join-form form input[type=password]::-ms-input-placeholder {
  font-size: 1rem;
  color: rgba(107, 99, 255, 0.589);
}

.join-form form input[type=text]::placeholder,
.join-form form input[type=password]::placeholder {
  font-size: 1rem;
  color: rgba(107, 99, 255, 0.589);
}

.join-form form input[type=submit] {
  font-size: 1.15rem;
  width: 100px;
  margin: 15px 0;
  border: 2px solid #6c63ff;
  border-radius: 300px;
  background-color: #6c63ff;
  color: white;
  padding: 6px 2px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.join-form form input[type=submit]:hover {
  color: #6c63ff;
  background-color: white;
}

#contact {
  width: 100%;
  background-color: #6c63ff;
  padding: 40px;
  font-family: 'Ubuntu',cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact ul {
  margin: 20px 0;
}

#contact ul li {
  color: white;
  list-style-type: none;
  font-size: 2rem;
  width: 300px;
}

#contact ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

#footer {
  width: 100%;
  height: 40px;
  color: #6c63ff;
  font-family: 'Ubuntu',cursive;
  font-size: 1.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */